*.DS_Store

pyproto_v2/*.tsv
pyproto_v2/*/*.tsv
pyproto_v2/*/*.tsvs
*.i
*.pyc
*.profile
python_interface/sandbox/
pyproto/data/*.xml
TODO.txt

shorten.sh
shfile.sh

*.sublime-workspace
*.sublime-project
